# Multi index, index hierarchy

In [2]:
import numpy as np
import pandas as pd

In [3]:
outside = 'G1 G1 G1 G2 G2 G2'.split()

In [9]:
inside = [1,2,3,1,2,3]

In [10]:
inside

[1, 2, 3, 1, 2, 3]

In [11]:
list(zip(outside, inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [13]:
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [18]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [19]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])
df

             A         B
G1 1  0.567529  0.439683
   2  0.988565 -1.477881
   3 -0.713347  0.405739
G2 1 -0.896974  0.845193
   2 -0.228821  0.305732
   3 -1.516880 -1.078765

In [21]:
df.loc['G1'].loc[1]

A    0.567529
B    0.439683
Name: 1, dtype: float64

In [23]:
df.index.names = ['Groups', 'Num']

In [24]:
df

                   A         B
Groups Num
G1     1    0.567529  0.439683
       2    0.988565 -1.477881
       3   -0.713347  0.405739
G2     1   -0.896974  0.845193
       2   -0.228821  0.305732
       3   -1.516880 -1.078765

In [29]:
df.loc['G2'].loc[2]['B']

0.30573238455175361

In [30]:
df.xs('G1')

            A         B
Num
1    0.567529  0.439683
2    0.988565 -1.477881
3   -0.713347  0.405739

In [31]:
df.xs(1, level='Num')

               A         B
Groups
G1      0.567529  0.439683
G2     -0.896974  0.845193